[submodule "modules/JUCE"]
	path = modules/JUCE
	url = https://github.com/lv2-porting-project/JUCE.git
[submodule "modules/foleys_gui_magic"]
	path = modules/foleys_gui_magic
	url = https://github.com/ffAudio/foleys_gui_magic.git
[submodule "modules/chowdsp_utils"]
	path = modules/chowdsp_utils
	url = https://github.com/Chowdhury-DSP/chowdsp_utils.git
