# build artifacts
build*/
cmake-build*/
bin/
*.exe

*add-ons*

# IDE extras
.vscode/
.idea/
.cache/
xcode/

# Mac extras
.DS_Store

# SPICE stuff
*.raw
*.log
*.net
*.op.raw

# audio files
sim/**/*.wav
*.asd
*.mp4
