[submodule "modules/JUCE"]
	path = modules/JUCE
	url = https://github.com/juce-framework/JUCE.git
[submodule "modules/chowdsp_utils"]
	path = modules/chowdsp_utils
	url = https://github.com/Chowdhury-DSP/chowdsp_utils.git
[submodule "modules/RTNeural"]
	path = modules/RTNeural
	url = https://github.com/jatinchowdhury18/RTNeural
[submodule "modules/magic_enum"]
	path = modules/magic_enum
	url = https://github.com/Neargye/magic_enum
[submodule "modules/sst-cpputils"]
	path = modules/sst-cpputils
	url = https://github.com/surge-synthesizer/sst-cpputils
[submodule "modules/clap-juce-extensions"]
	path = modules/clap-juce-extensions
	url = https://github.com/free-audio/clap-juce-extensions
[submodule "modules/chowdsp_wdf"]
	path = modules/chowdsp_wdf
	url = https://github.com/Chowdhury-DSP/chowdsp_wdf
[submodule "modules/fuzzysearchdatabase"]
	path = modules/fuzzysearchdatabase
	url = https://bitbucket.org/j_norberg/fuzzysearchdatabase.git
[submodule "modules/ea_variant"]
	path = modules/ea_variant
	url = https://github.com/eyalamirmusic/Variant
